*{
    margin: 0;
    padding: 0;
}


body{
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(238, 238, 238);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: gray;
    padding: 20px 8px;
}




a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

@media(max-width:600px){
    a{
        text-decoration: none;
        color: white;
        font-size: 1rem;
    }
}

a:hover{
    background-color: rgb(189, 189, 189);
    padding: 8px 4px;
    border-radius: 8px;
}

main{
    padding: 4px 4px;
    width: 600px;
    text-align: center;
    margin: auto;
    background-color: lightgray;
    border-radius: 8px;
}

@media (max-width: 600px) {
    main{
        padding: 4px 4px;
        width: 360px;
        text-align: center;
        margin: auto;
        background-color: lightgray;
        border-radius: 8px;
    }
}

p{
    margin: 50px;
}

#pessoausina{
    width: 360px;
    height: 240px;
    border-radius: 16px;
    border: solid gray;
}

#historiaenergia{
    width: 360px;
    height: 200px;
    border-radius: 16px;
    border: solid gray;

}

#senai{
    width: 350px;
    height: 100px;
    border-radius: 16px;
    border: solid gray;

}

#estrutura2{
    background-color: white;
    border-radius: 16px;
    border: solid gray;
}

#microcontrolador{
    width: 250px;
    height: 250px;
    border-radius: 16px;
    border: solid gray;
}  

#arduino{
    width: 250px;
    height: 250px;
    border-radius: 16px;
    border: solid gray;
}

button,input{
    color: white;
    font-size: 1.25rem;
    text-align: center;
    background-color: gray;
    border-radius: 8px;
    margin-top: 8px;
}

#resposta{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    background-color: gray;
    border-radius: 16px;
}


footer{
    background-color: gray;
    padding: 8px 8px;
    color: whitesmoke;
}